{% extends 'registrator/registrator_main.html' %}

{% block title %}Видалення талону{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="card text-center p-4">
            <h1 class="mb-4">Видалення талону</h1>
            <p>Ви впевнені, що хочете видалити квиток № {{ ticket.ticket_id }}?</p>
            <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="submit" value="Видалити" class="btn btn-danger">
                <a href="{% url 'ticket_list' %}" class="btn btn-secondary ml-2">Відмінити</a>
            </form>
        </div>
    </div>
{% endblock %}
