{% extends 'admin/admin_main.html' %}

{% block title %}Управління Розкладами{% endblock %}

{% block content %}
    <h1 class="text-center mt-5 mb-4">Управління Розкладами</h1>

    <!-- Форма для выбора врача для просмотра расписания -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Переглянути розклад лікаря</h5>
            <form method="post" class="form-inline">
                {% csrf_token %}
                {{ select_form.non_field_errors }}
                <div class="form-group mr-2">
                    {{ select_form.doctor.label_tag }}
                    {{ select_form.doctor }}
                </div>
                <button type="submit" name="view_schedule_button" class="btn btn-info">Переглянути розклад</button>
            </form>
        </div>
    </div>

    <!-- Отображение расписания врача -->
    {% if doctor_schedule %}
        <h3>Розклад для {{ doctor_name }}</h3>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>День відвідувань</th>
                    <th>Час початку</th>
                    <th>Час закінчення</th>
                    <th>Кабінет</th>
                     <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in doctor_schedule %}
                    <tr>
                        <td>{{ entry.day_for_visits }}</td>
                        <td>{{ entry.start_time }}</td>
                        <td>{{ entry.end_time }}</td>
                        <td>{{ entry.cabinet }}</td>
                         <td>
                            <form method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="hidden" name="schedule_id" value="{{ entry.schedule_id }}">
                                <button type="submit" name="edit_schedule_button" class="btn btn-warning btn-sm">Редагувати</button>
                            </form>
                            <form method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="hidden" name="schedule_id" value="{{ entry.schedule_id }}">
                                <button type="submit" name="delete_schedule_button" class="btn btn-danger btn-sm">Видалити</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

<!-- Форма для редактирования расписания -->
    {% if update_form %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Редагування пункту розкладу </h5>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="schedule_id" value="{{ update_form.instance.schedule_id }}">
                {{ update_form.non_field_errors }}
                <div class="form-group">
                    <label>{{ update_form.day_for_visits.label }}</label>
                    {{ update_form.day_for_visits }}
                    <div class="invalid-feedback">{{ update_form.day_for_visits.errors }}</div>
                </div>
                <div class="form-group">
                    <label>{{ update_form.start_time.label }}</label>
                    {{ update_form.start_time }}
                    <div class="invalid-feedback">{{ update_form.start_time.errors }}</div>
                </div>
                <div class="form-group">
                    <label>{{ update_form.end_time.label }}</label>
                    {{ update_form.end_time }}
                    <div class="invalid-feedback">{{ update_form.end_time.errors }}</div>
                </div>
                <div class="form-group">
                    <label>{{ update_form.cabinet.label }}</label>
                    {{ update_form.cabinet }}
                    <div class="invalid-feedback">{{ update_form.cabinet.errors }}</div>
                </div>
                <button type="submit" name="update_schedule_button" class="btn btn-primary">Оновити</button>
            </form>
        </div>
    </div>
    {% endif %}

    <!-- Форма для создания расписания -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Створити розклад</h5>
            <form method="post">
                {% csrf_token %}
                {{ create_form.non_field_errors }}
                <div class="form-group">
                    <label>{{ create_form.day_for_visits.label }}</label>
                    {{ create_form.day_for_visits }}
                    <div class="invalid-feedback">{{ create_form.day_for_visits.errors }}</div>
                </div>
                <div class="form-group">
                    <label>{{ create_form.start_time.label }}</label>
                    {{ create_form.start_time }}
                    <div class="invalid-feedback">{{ create_form.start_time.errors }}</div>
                </div>
                <div class="form-group">
                    <label>{{ create_form.end_time.label }}</label>
                    {{ create_form.end_time }}
                    <div class="invalid-feedback">{{ create_form.end_time.errors }}</div>
                </div>
                <div class="form-group">
                    <label>{{ create_form.cabinet.label }}</label>
                    {{ create_form.cabinet }}
                    <div class="invalid-feedback">{{ create_form.cabinet.errors }}</div>
                </div>
                <div class="form-group">
                    <label>{{ create_form.doctor.label }}</label>
                    {{ create_form.doctor }}
                    <div class="invalid-feedback">{{ create_form.doctor.errors }}</div>
                </div>
                <div class="text-danger">
                        {{ error_message }}
                 </div>
                <button type="submit" name="create_schedule_button" class="btn btn-primary">Створити</button>
            </form>
        </div>
    </div>


{% endblock %}
